/* Global styles */
body {
  //
}
.comp-lib {
  padding: var(--space-s) var(--space-l);
  h1,
  h2,
  h3 {
    line-height: 1.1;
    // font-weight: 900;
  }
  .constrain-h1 {
    max-width: 18ch;
  }
  p {
    max-width: 70ch;
  }
}
.intro {
  padding: var(--space-s) var(--space-l);
  h1,
  h2,
  h3 {
    line-height: 1.1;
    // font-weight: 900;
  }
  .constrain-h1 {
    max-width: 18ch;
  }
  h1 {
    max-width: 18ch;
  }
  h2,
  h3 {
    max-width: 30ch;
  }
  p {
    max-width: 55ch;
  }
  /* So text scale renders nicely */
  div[class*="text-"] {
    --flow-space: 1rem;
    line-height: 1;
    font-weight: 700;
  }
}
\ p,
li {
  max-width: 70ch;
}

a {
  color: currentcolor;
}

a:hover {
  text-decoration: none;
}

/* Prose */
h2,
h3 {
  --flow-space: var(--space-size-3);
}

h2 + *,
h3 + * {
  --flow-space: var(--space-base);
}

.astro-code {
  padding: 2em 3em;
  border-radius: 6px;
  margin-top: 1rem;
}
