---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import ButtonPrimary from "../components/ButtonPrimary.astro";
import IconButtonDark from "../components/IconButtonDark.astro";
import IconButtonDarkDisable from "../components/IconButtonDark-Disable.astro";
---

<Layout title="Outcomes Assessment and Component Library">
  <main class="container mx-auto px-space-s py-space-l flow">
    <h1 class="font-bold text-step-4 leading-tight">
      Outcomes Assessment and Component Library
    </h1>
    <p class="text-step-2 leading tight">
      Hi all, you will find both the <a
        class="underline"
        href="/outcomes-assessment">full page design</a
      >
       and the <a class="underline" href="/component-library"
        >component library</a
      > on this site. Thanks for taking the time to look at this!
      <p class="text-step-2">—Brian</p>
    </p>
    <p class="text-step-0 italic text-gray-800 py-12">
      Full source can be found <a
        class="underline"
        href="https://github.com/cubistcastle/outcomes-assessment/"
        >https://github.com/cubistcastle/outcomes-assessment/</a
      >
    </p>
  </main>

  <style></style>
</Layout>
