---
import IconButtonLight from "./IconButton-Light.astro";
import ButtonSecondary from "./ButtonSecondary.astro";
interface Props {
  //   title: string;
  //   body: string;
  //   href: string;
}

// const { href, title, body } = Astro.props;
---

<!-- card title , score, program, and buttons are variable -->
<div
  class="card flex w-full max-w-lg flex-col justify-between bg-white shadow-primary ring-2 ring-inset ring-stone-200"
>
  <div class="card-main mb-8 flex justify-between gap-8 p-2">
    <div class="info-wrap">
      <h3 class="text-lg font-bold text-turquoise-800">
        Applied Arts and Sciences (BAAS)
      </h3>
      <p class="text-base font-bold text-neutral-600">
        30.99 Undergraduate 18 Years
      </p>
      <p class="text-base">Student Learning (UG)</p>
    </div>
    <!-- wrap icon in case additional icons need to be added -->
    <div class="icon-wrap flex gap-1">
      <IconButtonLight />
    </div>
  </div>
  <!-- children should take up full width of the card, will accept additional buttons -->
  <div class="button-wrap flex gap-1 [&>*]:w-full">
    <ButtonSecondary title="Manage users" />
    <ButtonSecondary title="Disable" />
  </div>
</div>
